<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Code Scanner</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.min.js"></script>
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: Arial, sans-serif;
        }
        #videoContainer img {
            width: 1280px;
            height: 720px;
        }
        #qrCodeList {
            margin-top: 20px;
            width: 640px;
            border: 1px solid #ccc;
            padding: 10px;
        }
    </style>
</head>
<body>
    <h1>QR Code Scanner</h1>
    <div id="videoContainer">
        <img id="videoFeed" src="/video_feed">
    </div>
    <div id="qrCodeList">
        <h3>QR Code Data:</h3>
        <ul id="qrCodes"></ul>
    </div>

    <script>
        const socket = io();
        console.log(socket)
        const qrCodesElement = document.getElementById('qrCodes');

        socket.on('qr_code_data', (qrCodeData) => {
            while (qrCodesElement.firstChild) {
                qrCodesElement.removeChild(qrCodesElement.firstChild);
            }
            const listItem = document.createElement('li');
            listItem.textContent = qrCodeData;
            qrCodesElement.appendChild(listItem);
        });
    </script>
</body>
</html>